{% extends "base.html" %}
    {% block title %} Sorting - Index {% endblock %}
    
    {% block welcome %}
            <h2><p class="text-center col-md-12"> Welcome to the Sorting App </p></h2> 
            <h5><p class="text-center col-md-12"> The basic ideia of this app is to give each element an group, making possible to sort a group of individuals in a variable number of groups </p></h5>
    {% endblock %}
    
    {% block body %}
        {% block intro %} {% endblock %}
    	<div class="container">
            {% if error %}
                <p class=error><strong>Error: </strong> {{ error }}
            {% endif %}

            <form action="result" method="POST">
                <h3 class="text-center">
                    <span class='col-xs-6'> Elements </span>
                    <span class='col-xs-6'> Groups </span>
                </h3>
                
                <div class="row">
                    <div id="elements" class="col-xs-6 text-center"></div>
                    <div id="groups" class="col-xs-6 text-center"></div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-6 text-center">
                        <input type="button" class="btn btn-info btn-sm" value="Add new element" onclick="add('element')"/>  
                    </div>
                    <div class="col-xs-6 text-center">
                        <input type="button" class="btn btn-info btn-sm" value="Add new group" onclick="add('group')"/>  
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Sort It!" class="btn btn-primary btn-lg">
                    </div>  
                </div>
            </form>
        </div>
    {% endblock %}
    
    {% block scripts %}
    <style type="text/css">
        .red{
            background: rgba(250,0,0,0.5);
        }
        .orange{
            background: rgba(250,153,0,0.5);
        }
    </style>

    <script language="javascript">
        function del(obj)
        {
            $(obj).parent().parent().remove();
        }

        function add(base) 
        {
            var div = document.createElement("div");
            div.setAttribute("class", "col-md-12 text-center input-group");
            
            //Create an input type dynamically.
            var element = document.createElement("input");

            //Assign different attributes to the element.
            element.setAttribute("type", "text");
            element.setAttribute("name", base);
            $class = (base == "element" ? "orange " : "red");
            $class +=  " form-control";
            element.setAttribute("class",$class);

            var span = document.createElement("span");
            span.setAttribute("class", "input-group-btn");

            var btn = document.createElement("button");
            btn.setAttribute("class", "btn btn-default");
            btn.setAttribute("type", "button");
            btn.setAttribute("onclick", "del(this)");
            
            var icon = document.createElement("span");
            icon.setAttribute("class", "glyphicon glyphicon-remove-circle");

            btn.appendChild(icon);

            span.appendChild(btn);

            div.appendChild(element);
            div.appendChild(span);

            var doc = document.getElementById(base + 's');

            //Append the element in page (in span).
            doc.appendChild(div);
        }
    </script>
    {% endblock %}