<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Random </title>
    </head>
    <body>
    	<form action="result" method="POST">
        <!-- Elements <input type="text" name="elements"> -->
        Elements <br/>
        <span id="elements"></span>   
        <input type="button" value="Add new element" onclick="add('element')"/>  
        <!-- Things <input type="text" name="things"> -->
        Things <br/>
        <span id="things"></span> 
        <input type="button" value="Add new thing" onclick="add('thing')"/>  
        <input type="submit">
        </form>
    </body>
    <script language="javascript">
        function add(base) 
        {
            //Create an input type dynamically.
            var element = document.createElement("input");

            alert(base);

            //Assign different attributes to the element.
            element.setAttribute("type", "text");
            element.setAttribute("name", base);
            // element.setAttribute("value", i);
            element.style.display = "block";

            var doc = document.getElementById(base + 's');

            //Append the element in page (in span).
            doc.appendChild(element);
        }
    </script>
</html>
